
			<div class="c-account">
				
				<ul>
					<li>
						<p class="c-account__label">Poziom po K15 (TS K17):</p>
						<p class="c-account__details">Bursztynowy</p>
					</li>
					
					<li>
						<p class="c-account__label">Aktualna sprzedaż kwalifikowana do programu:</p>
						<p class="c-account__details">11472,22 zł</p>
					</li>
					
					<li>
						<p class="c-account__label">Do kolejnego poziomu brakuje:</p>
						<p class="c-account__details">172,78 zł</p>
					</li>
					
					<li>
						<p class="c-account__label">Punkty za przyrost sprzedaży:</p>
						<p class="c-account__details">8553</p>
					</li>
					
					<li>
						<p class="c-account__label">Punkty za sprzedaż:</p>
						<p class="c-account__details">6446</p>
					</li>
					
					<li>
						<p class="c-account__label">Suma punktów:</p>
						<p class="c-account__details">120249</p>
					</li>
				</ul>
			</div>
