
			<div class="c-buttons clear text-center">
				<div class="c-buttons__lead color-black">Sprawdź przywileje na pozostałych poziomach</div>
				
				<ul>
					<li class="c-buttons__bursztyn">
						<a href="#" class="c-buttons__item bg-bursztyn">
							<span class="c-buttons__title font-avon">Poziom Bursztynowy</span>
							<span class="c-buttons__sum">12 000 <small>zł</small></span>
						</a>
					</li>
		
					<li class="c-buttons__rubin">
						<a href="#" class="c-buttons__item bg-rubin">
							<span class="c-buttons__title font-avon">Poziom Rubinowy</span>
							<span class="c-buttons__sum">22 000 <small>zł</small></span>
						</a>
					</li>
					
					<li class="c-buttons__szmaragd">
						<a href="#" class="c-buttons__item bg-szmaragd">
							<span class="c-buttons__title font-avon">Poziom Szmaragdowy</span>
							<span class="c-buttons__sum">60 000 <small>zł</small></span>
						</a>
					</li>
					
					<li class="c-buttons__diament">
						<a href="#" class="c-buttons__item bg-diament">
							<span class="c-buttons__title font-avon">Poziom Diamentowy</span>
							<span class="c-buttons__sum">160 000 <small>zł</small></span>
						</a>
					</li>
				</ul>
			</div>
