
			<div class="c-girls">
				<div class="c-girls__item c-girls__item--bursztyn">
					<img src="../../images/girl/bursztyn.png" alt="" />
				</div>
				
				<div class="c-girls__item c-girls__item--rubin">
					<img src="../../images/girl/rubin.png" alt="" />
				</div>
				
				<div class="c-girls__item c-girls__item--szmaragd">
					<img src="../../images/girl/szmaragd.png" alt="" />
				</div>
				
				<div class="c-girls__item c-girls__item--diament">
					<img src="../../images/girl/diament.png" alt="" />
				</div>
			</div>
