		
			<nav class="c-nav" id="nav">
				<ul>
					<li data-menuanchor="home" class="active">
						<a href="#home" class="c-nav__item">strona główna</a>
					</li>
					
					<li data-menuanchor="zasady">
						<a href="#zasady" class="c-nav__item">Zasady programu</a>
					</li>
					
					<li data-menuanchor="przywileje-bursztyn">
						<a href="#przywileje-bursztyn" class="c-nav__item">Przywileje</a>
					</li>
					
					<li data-menuanchor="program">
						<a href="#program" class="c-nav__item">Program Punktowy</a>
					</li>
					
					<li data-menuanchor="nagrody">
						<a href="#nagrody" class="c-nav__item">10 za 5</a>
					</li>
					
					<li data-menuanchor="nagrody-1">
						<a href="#nagrody-1" class="c-nav__item">Nagrody za osiągnięcie poziomu</a>
					</li>
					
					<li data-menuanchor="spotkania">
						<a href="#spotkania" class="c-nav__item">Spotkania</a>
					</li>
					
					<li data-menuanchor="rozwoj">
						<a href="#rozwoj" class="c-nav__item">Twój rozwój</a>
					</li>
				</ul>
				
				<a href="#" class="c-nav__item c-nav__item--back">powrót do strefy</a>
			</nav>
