.color-black {
	color: $c-black;
}

.color-blue {
	color: $c-blue;
}

.color-blue--darker {
	color: $c-blue--darker;
}

.color-bursztyn {
	color: $c-bursztyn;
}

.color-diament {
	color: $c-diament;
}

.color-rubin {
	color: $c-rubin;
}

.color-szmaragd {
	color: $c-szmaragd;
}

.color-szmaragd--darker {
	color: $c-szmaragd--darker;
}

.bg-bursztyn {
	background-color: $c-bursztyn;
}

.bg-diament {
	background-color: $c-diament;
}

.bg-rubin {
	background-color: $c-rubin;
}

.bg-szmaragd {
	background-color: $c-szmaragd;
}