.icon-zaproszenie:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-bestseller:before {
  content: "\e901";
}
.icon-gwarancja:before {
  content: "\e902";
}
.icon-limit:before {
  content: "\e903";
}
.icon-max:before {
  content: "\e904";
}
.icon-mouse:before {
  content: "\e905";
}
.icon-nagrody:before {
  content: "\e906";
}
.icon-oferta:before {
  content: "\e907";
}
.icon-platforma:before {
  content: "\e908";
}
.icon-program:before {
  content: "\e909";
}

