.c-nav {
	margin-bottom: 20px;

	ul {
		margin-bottom: 40px;
	}

	li {
		margin-bottom: 15px;
	}

	&__item {
		text-transform: uppercase;
		
		&:hover {
			text-decoration: underline;
		}
		
		.active & {
			font-weight: $bold;
		}
		
		&--back {
			&:before {
				@include icomoon;
				margin-right: 5px;
				font-size: 12px;
				content: "\e900";
			}
		}
	}
}
