// Colors

$c-black:		#231f20;

$c-blue:		#91a7d1;
$c-blue--darker:	#7990bb;

$c-bursztyn:	#f8b27e;

$c-diament:		#a39e9e;

$c-pink:		#f7cac8;

$c-rubin:		#e5b2c4;

$c-szmaragd:	#a3dce9;
$c-szmaragd--darker:	#9ed5e2;